table{
    border-collapse: collapse;
}
table,tbody,thead,tr,td{
    border: 1px solid #000;
}
.reduce,.add{
    height: 23px;
    width: 17px;
    border: 1px solid #e5e5e5;
    background: #f0f0f0;
    text-align: center;
    line-height: 23px;
    color: #444;
}
.arrow-up{
    display: inline-block;
}
.arrow-down{
    display: none;
}
#selectedViewList{
    display: none;
}